version: "3.9"

services:
  app:
    build: .
    container_name: whatsapp-bot
    env_file: .env
    ports:
      - "5000:5000"
    depends_on:
      - mongo
      - redis
    restart: unless-stopped

  mongo:
    image: mongo:7
    container_name: whatsapp-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

  redis:
    image: redis:8
    container_name: whatsapp-redis
    ports:
      - "6379:6379"
    restart: unless-stopped

volumes:
  mongo_data:
